.main {
    display: flex;
}

.completeTodos {
    /* margin: 15px; */
}

@media (max-width: 1250px) {

    .main {
        display: block;
        width: 100%;
        /* flex-direction: row; */
    }
}