.container {
  max-width: 700px;
  margin: 0 auto;
}

.h4 {
  display: flex;
  justify-content: center;
  background: #787777;
  padding: 12px;
  border-radius: 5px;
  font-size: large;
  line-height: normal;
  letter-spacing: 2px;
  color: #f0f0f0;
  font-weight: bolder;
}

.allIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: space-between;
  width: 35vw;
  transition: width 0.5s ease-in-out;
}

.todoStart {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  width: 25vw;
  margin-right: 5px;
  /* align-items: center;
  justify-content: center; */
}

.todoDescription {
  font-size: 14px;
  color: #666;
  width: 30vw;
  /* margin: 0px 10px; */
  align-items: center;
  justify-content: center;
  /* margin-top: 1rem; */
}

.edit {
  display: flex;
  cursor: pointer;
  /* margin-top: 10px; */
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.todoEnd {
  display: flex;
  /* margin-top: 1rem; */
  /* margin-left: 5px; */
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
}

.todoDelete {
  margin-left: 0.5rem;
  /* margin-top: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.todo__checkbox {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}

.todoDate {
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
  width: 10vw;
}


@media (max-width: 1100px) {
  .todo {
    width: 60vw;
    transition: width 0.5s ease-in-out;
  }

  .todoStart {
    font-size: 14px;
    width: 45vw;
    margin-right: 5px;
    font-size: small;
    font-weight: 600;
    align-items: center;
    justify-content: start;
    padding-left: 0px;
  }

  .todoDate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 25vw;
    padding: 5px;
  }

  .todoDescription {
    display: none;
  }

  .edit {
    margin-left: 0.5rem;
  }
}

@media (max-width: 400px) {
  .todoStart {
    /* font-size: 12px; */
    width: 15vw;
    /* margin-right: 5px; */
    font-size: x-small;
    font-weight: 600;
    align-items: center;
    justify-content: start;
    padding-left: 0px;
  }

  .todoDate{
    margin: 0;
    font-size: xx-small;
  }
}